.button {
    -fx-scale-shape: false;
    -fx-scale-y: 1.50;
    -fx-scale-x: 1.50;
    -fx-background-color: white;
}
#playPauseButton
{
    -fx-shape: "M 6.7441406,8.1445312 A 0.58077962,0.58077962 0 0 0 6.2050781,8.7246094 V 23.244141 a 0.58077962,0.58077962 0 0 0 0.9179688,0.470703 L 17.285156,16.457031 a 0.58077962,0.58077962 0 0 0 0,-0.943359 L 7.1230469,8.2519531 a 0.58077962,0.58077962 0 0 0 -0.3222657,-0.1074219 0.58077962,0.58077962 0 0 0 -0.056641,0 z m 17.9921874,0.019531 c -0.575206,8.824e-4 -1.038409,0.6572395 -1.037109,1.4707031 l 0.01953,12.7011727 c 0.0012,0.813462 0.465811,1.467697 1.041016,1.466796 0.575206,-8.83e-4 1.036456,-0.655286 1.035156,-1.46875 L 25.775391,9.6308594 C 25.774143,8.8173959 25.311533,8.1631798 24.736328,8.1640622 Z m -5.826172,0.052734 C 18.334951,8.2176792 17.871747,8.8740364 17.873047,9.6875 l 0.01953,12.701172 c 0.0012,0.813463 0.465811,1.467698 1.041016,1.466797 0.575206,-8.82e-4 1.036456,-0.655286 1.035156,-1.46875 L 19.949219,9.6835938 C 19.947971,8.8701302 19.485362,8.2159141 18.910156,8.2167962 Z";
}

#stopButton
{
    -fx-shape: "m 10.310213,7.8682718 h 11.379573 c 1.108,0 2,0.892 2,2 V 22.131728 c 0,1.108 -0.892,2 -2,2 H 10.310213 c -1.1079999,0 -1.9999999,-0.892 -1.9999999,-2 V 9.8682718 c 0,-1.108 0.892,-2 1.9999999,-2 z";
}

#forwardButton
{
    -fx-shape: "m 7.5878906,8.1523438 c 0.1152794,0.0035 0.2265609,0.040249 0.3203125,0.1074218 L 13.685547,12.363281 V 8.7480469 c 1.74e-4,-0.3270023 0.270782,-0.5892319 0.597656,-0.5800781 0.11528,0.0035 0.226561,0.042202 0.320313,0.109375 l 10.164062,7.2597652 c 0.32284,0.231715 0.32284,0.711645 0,0.94336 l -10.164062,7.259765 c -0.384018,0.273499 -0.916963,-0.0012 -0.917969,-0.472656 -0.0057,-1.262474 0.0021,-2.565439 -0.0039,-3.654256 -1.925972,1.359785 -3.8509064,2.739914 -5.7734439,4.111287 -0.3839714,0.273499 -0.9169626,-0.0012 -0.9179687,-0.472656 V 8.7324219 C 6.9904089,8.4054194 7.2610162,8.1431899 7.5878906,8.1523438 Z";
}

#rewindButton
{
    -fx-shape: "m 24.412081,8.1518826 c -0.115279,0.0035 -0.226561,0.040249 -0.320312,0.1074218 L 18.314425,12.36282 V 8.7475857 c -1.74e-4,-0.3270023 -0.270782,-0.5892319 -0.597656,-0.5800781 -0.11528,0.0035 -0.226561,0.042202 -0.320313,0.109375 L 7.2323934,15.536648 c -0.32284,0.231715 -0.32284,0.711645 0,0.94336 l 10.1640626,7.259765 c 0.384018,0.273499 0.916963,-0.0012 0.917969,-0.472656 0.0057,-1.262474 -0.0021,-2.565439 0.0039,-3.654256 1.925972,1.359785 3.850906,2.739914 5.773444,4.111287 0.383971,0.273499 0.916962,-0.0012 0.917968,-0.472656 V 8.7319607 C 25.009563,8.4049582 24.738956,8.1427287 24.412081,8.1518826 Z";
}

.button:focused,
.button:hover
{
    -fx-background-color: white;
    -fx-effect: innershadow( gaussian, yellow, 0.5,1, 0, 0 );
}

.slider .thumb {
    -fx-scale-x: 1.50;
    -fx-scale-y: 1.50;
}

.backgroundButtonPane {
    -fx-scale-shape: false;
    -fx-scale-y: 2;
    -fx-scale-x: 2;
    -fx-background-color: lightslategrey;
    -fx-shape: "m 16,-2.481e-4 c -4.188621,0 -8.3526505,1.7237443 -11.314453,4.6855469 C 1.7237444,7.6471013 5e-8,11.811131 5e-8,15.999752 3.3951842e-8,20.188374 1.7237444,24.352403 4.685547,27.314205 7.6473496,30.276008 11.811378,31.999752 16,31.999752 c 4.188621,10e-7 8.352651,-1.723744 11.314453,-4.685547 C 30.276256,24.352403 32,20.188374 32,15.999752 32.000001,11.81113 30.276257,7.6471014 27.314453,4.6852988 24.352651,1.7234962 20.188622,-2.481e-4 16,-2.481e-4 Z";
}